<!-- Back Arrow -->
<button class="left-arrow" *ngIf="searched" (click)="resetSearch()">
  <svg
    width="40px"
    height="40px"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g id="SVGRepo_iconCarrier">
      <path
        d="M6 12H18M6 12L11 7M6 12L11 17"
        stroke="#000000"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </g>
  </svg>
</button>

<div class="pokedex-wrapper">
  <div class="search-form" *ngIf="!searched">
    <input [(ngModel)]="pokemonName" placeholder="Procurar ex: pikachu" />
    <button class="search-btn" (click)="search()">
      <svg
        width="35px"
        height="35px"
        viewBox="0 0 24.00 24.00"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="SVGRepo_iconCarrier">
          <path
            d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z"
            stroke="#000000"
            stroke-width="2.4"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </g>
      </svg>
    </button>
  </div>

  <div class="pokemon-list" *ngIf="!searched">
    <div
      class="pokemon-card"
      *ngFor="let p of pokemons"
      [ngStyle]="{ 'background-color': getTypeColor(p.types[0]) }"
      (click)="pokemonName = p.name; search()"
    >
      <div class="card">
        <div class="type-list">
          <div class="type-card" *ngFor="let t of p.types">
            <span>{{ capitalize(t) }} </span>
          </div>
        </div>
        <img [src]="p.image" [alt]="p.name" width="90" />
      </div>
      <h3>{{ capitalize(p.name) }}</h3>
    </div>
  </div>
<div #scrollAnchor class="scroll-anchor"></div>


  <div class="pokemon-container" *ngIf="pokemonData">
    <div class="pokemon-info">
      <h2>{{ capitalize(pokemonData.name) }}</h2>
      <div class="type-box">
        <div
          class="type-item"
          *ngFor="let t of pokemonData.types"
          [ngStyle]="{ 'background-color': getTypeColor(t.type.name) }"
        >
          <p class="pokemon-id">
            #{{ formatId(pokemonData.id).padStart(3, "0") }}
          </p>
          {{ t.type.name }}
        </div>
      </div>
    </div>
    <img
      class="pokemon-image"
      [src]="pokemonData.sprites.other['official-artwork'].front_default"
      alt="imagem do pokemon"
    />
    <app-tab-list-component
      [pokemonData]="pokemonData"
    ></app-tab-list-component>
  </div>
</div>
