
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans';
}

body{
  max-width: 430px;
  margin: 0 auto;
}

body::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 600px;
  width: 500px;
  background-image: url('assets/Pokeball-PNG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.1; 
  z-index: -1;
  transform:translate(-50%, -50%) rotate(-30deg);
}